.flexbox-row{
    display: flex;
    flex-direction: row;
}
.input{
    padding: 1px;
    width: 500px;
}
.margin-top-15 {
    margin-top:25px
}
.padding-top-15{
    padding-top: 15px;
}

input:focus{
    outline: none;
}

.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
} 

.store-name {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #393E46;
    text-transform: uppercase;
  }
  

  .search-inp  {
    padding: 1px;
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    width: 500px;
    outline: none;
  }
  
  .search-inp:focus {
    border-color: #929AAB;
  }

  .search-btn{
    background-color: #929AAB;
  color: #EEEEEE;
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  
  .search-btn:hover {
    transition: background-color 0.3s ease;
    background-color: #393E46;
  }
