.flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left;
}

.popular-products-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 30px 0;
    text-transform: uppercase;
    color: #393E46;
  }