.busket-foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.total-price{
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.order-btn{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
  }
  
  .order-btn:hover {
    background-color: #fff;
    color: #4CAF50;
    border: 3px solid #4CAF50;
  }