.justify-center{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px ;
}

nav ul{
    background-color: #929AAB;
    border-radius: 18px;
    padding: 0px;
    margin: 0px;    
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    list-style: none;
    justify-content:space-between;
    justify-items: center;
}

nav ul li{
    padding-left: 35px;
    padding-right: 35px;
}

h2{
    padding-left: 35px;
    padding-right: 35px;
    margin: 0;
}

li a{
    font-size: large;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #EEEEEE;
}

a:hover{
    transition: all 0.3s ease;
    color: #393E46;
}

#nav-container{
    padding-left: 70px;
    padding-right: 70px;
}

.controls-btn{
    display: flex;
    float: right;
    margin-top: -65px;
    padding-right: 15px;
    padding-left: 15px;
}
.margin-right-5{
    margin-right: 5px;
}

.icon{
    width: 40px;
    filter:opacity(70%);
}

.nick{
    margin-top: 7px;
    text-decoration: none;
    font-weight: 600;
    color: #393E46;
}

.nick:hover{
    color: #929AAB;
    transition: all 0.3s ease;
}


.icon:hover{
    transition: all 0.3s ease;
    filter:opacity(80%) blur(0.3px);
}